<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Examen</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"/>

<section th:fragment="homeContent">
    <div class="nav-fondo">
        <nav class="Navegacion-Principal contenedor">
        </nav>

        <section class="hero">
            <div class="Contenido-hero">
               <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/jIs2qgAhxSI"
                    title="FARMACOLOGÍA INTRODUCCIÓN | GuiaMed"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
            </iframe>
        </div>
            </div>
        </section>
    </div>
</section>

<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
