<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
        <title>Farmacias</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{layout/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{layout/fragmentos :: agregarFarmacias}"/>
        <section th:replace="~{layout/fragmentos :: listadoFarmacias}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>