<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <link href="../templates/css/estilos.css" rel="stylesheet" type="text/css"/>
        <title>Examen</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{farmacia/fragmentos :: editarFarmacia}"/>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>